.portal-upload-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color:#223651;
  border-radius: 8px;
  padding: 20px;
  width: fit-content;
  max-width: 500px;
}

/* Container for the radio buttons */
.radio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Styling for individual radio buttons */
.radio-buttons label {
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
}

.radio-buttons input[type="radio"] {
  margin-right: 5px;
  margin: 10px;
}

.radio-buttons label {
  color: #fff;
}

.portal-upload-main button {
  width: 240px;
  height: 54px;
  background-color: #3fbeea;
  border: 1.5px solid #3fbeea;
  color: #223651;
  font-size: 18px;
  transition: 0.15s;
  border-radius: 4px;
  font-weight: 900;
}

.portal-upload-main button:hover {
  cursor: pointer;
  background-color: #223651;
  color: #3fbeea;
}